{% extends 'layouts/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

    <div class="cotainer mt-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center my-3 display-6">Iniciar sesión</h1>
                <div class="card-body px-2 col-md-4 offset-md-4">
                <form action="" method="post">

                    {% csrf_token %}
                    
                    {{ form | crispy }}
                    
                    <div class="">
                        <a class="link-underline link-underline-opacity-25" href="">¿Olvido su contraseña?</a>
                    </div>
                    
                    <button class="col-12 btn btn-success mt-4" type="submit">Continue 
                        <i class="fa-solid fa-right-to-bracket "></i>
                    </button>

                    <div class="col-12 border mt-4">
                    </div>

                    <p class="mt-2">¿Aun no tines una cuenta?<br>
                        <a class="link-underline link-underline-opacity-25" href="{% url 'register' %}">Crear cuenta</a>
                    </p>
                    
                    
                </form>
               </div>
            </div>
        </div>
    </div>

{% endblock %}