{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center my-3">Introduce una nueva contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}  <!-- Aplica estilos de crispy-forms -->
                <button type="submit" class="btn btn-success mt-3">Cambiar contraseña</button>  <!-- Añadir clases Bootstrap -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
