{% extends 'layouts/base.html' %}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div class="card mt-5 border border-success">
                <div class="card-body">
                  <h5 class="card-title display-6">Hola es un gusto tenerte por estos lados.</h5>
                  <p class="card-text">Te queria contar que este es un demo de un sistema de inicio de sesión con reestablecimiento de contraseña mediante Email. Puedes ir a tu perfil para ver tu información,  inicia sesión o crea una cuenta nueva si eres nuevo. </p>
                </div>
                <div class="col-12 text-center my-3">
                    <a class="btn btn-success col-3" href="{% url 'profile' %}">Comenzar</a>
                </div>
                
              </div>

        </div>
    </div>
</div>


{% endblock %}